<div class="footer-wrap text-white brand-color py-0">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-7">
          <p class="text-left mr-2 pt-1">
            <span class="pr-2">
                &copy; {{ currentDate.getFullYear() }} <a href="javascript:">Anguler Web layout</a>
            </span>
          </p>
        </div>
        <div class="col-12 col-sm-5">
          <p class="text-right m-text-center">Developed By
            <a href="http://synapsepage.com" target="_blank">JS Developer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
