<div class="container bg-white page-layout">
  <div class="login-register-page">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-6">
        <form (ngSubmit)="onSubmit()" [formGroup]="forgotForm" class="forget-password-form" novalidate>

            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="row">
          <div class="col-12 text-center mb-3 mb-md-5 pb-md-3 pt-1 pt-md-5">
            <img alt="Last Minute Blowout" class="login-page-avatar" src="/assets/img/userlogog-avatar.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
