<div class="contact-us bg-white page-layout">
  <div class="container">
    <div class="title text-center">
      <!--      <h2>Make New Appointment</h2>-->
      <h5>Any questions or concerns? Send us an email and we’ll get back to you shortly.</h5>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-6">
        <form action="#" class="contact-form">
          <div class="form-group">
            <label for="name">Your Name</label>
            <input class="form-control" id="name" name="Name" placeholder="Yvonne Thompson" type="text">
          </div>
          <div class="form-group">
            <label for="message">Your Name</label>
            <textarea class="form-control" id="message" name="Message"></textarea>
          </div>

          <div class="contact-btn text-right">
            <button class="btn-main secondary" type="submit">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
